body {
    padding: 0;
    margin: 50px;
    background: #9D8780;
    color: #C5BC92;
}

canvas {
    vertical-align: top;
}

#editableP {
    padding: 20px;
    background: #BCBDC5;
    color: #000000;
}

#output {
    font-size: 2em;
}
