body {
    margin: 0;
    font-size: 16px;
}

#wrapper {
    padding: 0% 1.5%;
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Sorts Mill Goudy', 'Baskerville', Georgia, serif;
}

h1 {
    text-align: center;
    font-weight: normal;
    margin: 1.5% 0;
}

#leftColumn {
    float: left;
}

@media screen and (min-width: 0px) {
    #leftColumn {
        width: 100%;
        margin-bottom: 1em;
    }
    #footer {}
}

@media screen and (min-width: 1000px) {
    #leftColumn {
        width: 325px;
        margin-right: 25px;
    }
}

@media screen and (min-width: 1000px) and (min-height: 600px) {
    #footer {
        position: absolute;
        bottom: 3%;
        width: 325px;
        margin-right: 25px;
    }
}

#selfdocumenting {
    float: left;
    margin-top: 1em;
    text-align: center;
}

#output {
    font-size: 125%;
    padding: 1em 1em;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;

    text-align: center;
    background: #FFF082;
}

.explanation {
    float: left;
    width: 100%;
    font-size: 1em;
    text-align: left;
}

#links {
    text-align: center;
}

.explanation a {
    text-decoration: none;
    color: #D74B21;
}

#cutupButton {
    display: inline-block;
    font-size: 150%;
    background: #D74B21;
    margin-bottom: 1em;
    padding: 10px 20px;
    color: #fff;
    border: solid 2px #000000;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}
